<div>
  <h2 id="page-heading" data-cy="SevGraficaDataHeading">
    <span jhiTranslate="pruebaApp.sevGraficaData.home.title">Sev Grafica Data</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="pruebaApp.sevGraficaData.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sev-grafica-data"
        [routerLink]="['/sev-grafica-data/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pruebaApp.sevGraficaData.home.createLabel">Crear nuevo Sev Grafica Data</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (sevGraficaData?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pruebaApp.sevGraficaData.home.notFound">Ningún Sev Grafica Data encontrado</span>
    </div>
  }

  @if (sevGraficaData && sevGraficaData.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="idRow">
              <div class="d-flex">
                <span jhiTranslate="pruebaApp.sevGraficaData.idRow">Id Row</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaObjetivo">
              <div class="d-flex">
                <span jhiTranslate="pruebaApp.sevGraficaData.fechaObjetivo">Fecha Objetivo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorObjetivo">
              <div class="d-flex">
                <span jhiTranslate="pruebaApp.sevGraficaData.valorObjetivo">Valor Objetivo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorLogrado">
              <div class="d-flex">
                <span jhiTranslate="pruebaApp.sevGraficaData.valorLogrado">Valor Logrado</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grafica.idGrafica">
              <div class="d-flex">
                <span jhiTranslate="pruebaApp.sevGraficaData.grafica">Grafica</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sevGraficaData of sevGraficaData; track trackId) {
            <tr data-cy="entityTable">
              <td>{{ sevGraficaData.idRow }}</td>
              <td>{{ sevGraficaData.fechaObjetivo | formatMediumDate }}</td>
              <td>{{ sevGraficaData.valorObjetivo }}</td>
              <td>{{ sevGraficaData.valorLogrado }}</td>
              <td>
                @if (sevGraficaData.grafica) {
                  <div>
                    <a [routerLink]="['/sev-grafica', sevGraficaData.grafica.id, 'view']">{{ sevGraficaData.grafica.idGrafica }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/sev-grafica-data', sevGraficaData.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/sev-grafica-data', sevGraficaData.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(sevGraficaData)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
