<div>
  <h2 id="page-heading" data-cy="SevGraficaHeading">
    <span jhiTranslate="pruebaApp.sevGrafica.home.title">Sev Graficas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="pruebaApp.sevGrafica.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sev-grafica"
        [routerLink]="['/sev-grafica/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pruebaApp.sevGrafica.home.createLabel">Crear nuevo Sev Grafica</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (sevGraficas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pruebaApp.sevGrafica.home.notFound">Ningún Sev Graficas encontrado</span>
    </div>
  }

  @if (sevGraficas && sevGraficas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="idGrafica">
              <div class="d-flex">
                <span jhiTranslate="pruebaApp.sevGrafica.idGrafica">Id Grafica</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="pruebaApp.sevGrafica.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fkIdResponsable">
              <div class="d-flex">
                <span jhiTranslate="pruebaApp.sevGrafica.fkIdResponsable">Fk Id Responsable</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="proceso.idProceso">
              <div class="d-flex">
                <span jhiTranslate="pruebaApp.sevGrafica.proceso">Proceso</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sevGrafica of sevGraficas; track trackId) {
            <tr data-cy="entityTable">
              <td>{{ sevGrafica.idGrafica }}</td>
              <td>{{ sevGrafica.nombre }}</td>
              <td>{{ sevGrafica.fkIdResponsable }}</td>
              <td>
                @if (sevGrafica.proceso) {
                  <div>
                    <a [routerLink]="['/sev-proceso', sevGrafica.proceso.id, 'view']">{{ sevGrafica.proceso.idProceso }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/sev-grafica', sevGrafica.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/sev-grafica', sevGrafica.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(sevGrafica)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
